*{
  margin: 0;
  background-color: #f8f5ee;
  font-family: 'Manrope';

  html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

}