.work{
  background-color: rgb(250, 194, 194);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0 17%;
  
  .work-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: violet;
    margin-top: 70px;
    
    .title-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: violet;
      h1{
        font-size: 40px;
        font-weight: 700;
        color: rgb(74, 94, 95);
        margin-bottom: 16px;
      }

      h2{
        font-size: 25px;
        font-weight: 400;
        color: rgb(48, 65, 66);
        margin-bottom: 70px;
      }
    }
    .top-img{
      .cover{ 
        height: 520px;
        width: 1260px;
        object-fit: cover;
      }
    }
    .work-infos{
      margin-top: 40px;
      width: calc(100% - 40px);
      list-style-type: disk;
      
      li{
        .title{
          font-size: 30px;
          font-weight: 700;
          color: rgb(74, 94, 95);
        }
        p{
          font-size: 30px;
          color: rgb(74, 94, 95);
        }
        
      }
    }
  }

}